.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bgmaate {
  background: linear-gradient(90deg, #7928ca -1.19%, #ff0080 100%);
  height: 2000px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  width: 70vh;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
}

.form-field {
  position: absolute;
  width: 1228px;
  height: 489px;
  left: 92px;
  top: 52px;
}
.Address {
  position: absolute;
  width: 723px;
  height: 66px;
  left: 92px;
  top: 236px;
}
.content {
  position: absolute;
  width: 1661px;
  height: 882px;
  left: 414px;
  top: 240px;
  z-index: 2;
}
.firstName {
  position: absolute;
  width: 723px;
  height: 66px;
  left: 92px;
  top: 236px;
}
.lastname {
  position: absolute;
  width: 736px;
  height: 66px;
  left: 915px;
  top: 236px;
}

.form-field label,
h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: rgb(84, 84, 84);
}

input {
  height: 35px;
  width: 100%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

input:focus {
  border: 1px solid rgb(0, 208, 255);
}

.services {
  display: flex;
  justify-content: space-between;
}
.first-division {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0.5rem 0;
  width: 100%;
}
button {
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px;
}
.first-division button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: white;
  border: 1px solid rgb(0, 208, 255);
}

.second-division button {
  color: rgb(250, 249, 249);
  border: 1px solid red;
}
.Title {
  position: absolute;
  width: 714px;
  height: 106px;
  left: 557px;
  top: 33px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 131px;
  text-align: center;

  color: white;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.AddressHeader {
  position: absolute;
  width: 480px;
  height: 48px;
  left: -105px;
  top: -30px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  text-align: center;

  color: white;
}
.handImage{
left:1000px;
}

